h1, h3 {
  color: #372256;
  line-height: 1;
  font-weight: bold; }

h2, h4 {
  color: #372256;
  font-weight: normal; }

/* PROPIEDADES DE ANIMACIONES */
.animated {
  animation-name: fadeIn;
  animation-iteration-count: unset;
  animation-duration: 1s; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

h1, h3 {
  color: #372256;
  line-height: 1;
  font-weight: bold; }

h2, h4 {
  color: #372256;
  font-weight: normal; }

/* -----  INICIO PROPIEDADES DEL MAIN ----- */
.mainIndex {
  display: grid;
  grid-template-areas: "presentationDescription presentationImage" "featureImage featureDescription" "featureAltDescription featureAltImage" "download download" "blog blog";
  grid-template-columns: 1fr 1fr; }
  .mainIndex .presentationDescription {
    padding: 10rem 5rem;
    grid-area: presentationDescription;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .mainIndex .presentationDescription .subtitle {
      margin-top: 2rem; }
  .mainIndex .presentationImage {
    grid-area: presentationImage;
    background-color: #F9F9FA;
    padding: 10rem 0rem; }
    .mainIndex .presentationImage img {
      width: 22%;
      border-radius: 0.8rem;
      margin: 1rem;
      position: relative;
      right: 2rem;
      z-index: 0; }
  .mainIndex .downloadSection {
    grid-area: download;
    padding: 8rem 5rem; }
    .mainIndex .downloadSection .downloadContainer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: #A171D3;
      border-radius: 1.2rem;
      background-image: url("../../assets/images/comienza-tu-aventura.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border: 0.2rem solid #A171D3; }
      .mainIndex .downloadSection .downloadContainer .downloadApp {
        padding: 5rem;
        width: 60%; }
        .mainIndex .downloadSection .downloadContainer .downloadApp h3 {
          color: #FFFFFF;
          line-height: 1; }
        .mainIndex .downloadSection .downloadContainer .downloadApp .downloadButton {
          margin-top: 2rem; }
          .mainIndex .downloadSection .downloadContainer .downloadApp .downloadButton img:hover {
            transform: scale(1.02); }

h1, h3 {
  color: #372256;
  line-height: 1;
  font-weight: bold; }

h2, h4 {
  color: #372256;
  font-weight: normal; }

/* -----  INICIO PROPIEDADES DEL MAIN ----- */
.mainBlog {
  display: grid;
  grid-template-areas: "presentationPage presentationPage" "lastPostDescription lastPostImage" "blog blog" "morePosts morePosts";
  grid-template-columns: 1fr 1fr; }
  .mainBlog .lastPostDescription {
    padding: 8rem 5rem;
    grid-area: lastPostDescription;
    background-color: #F9F9FA; }
    .mainBlog .lastPostDescription .subtitlePost {
      margin-top: 1rem; }
    .mainBlog .lastPostDescription .boton-leer {
      margin-top: 2rem; }
      .mainBlog .lastPostDescription .boton-leer a {
        text-decoration: none; }
      .mainBlog .lastPostDescription .boton-leer h4 {
        font-weight: bold;
        color: #372256; }
  .mainBlog .lastPostImage {
    padding: 1rem;
    display: flex;
    align-items: center;
    grid-area: lastPostImage;
    background-color: #F9F9FA; }
    .mainBlog .lastPostImage img {
      width: 100%;
      min-width: 20rem;
      border-radius: 1.2rem; }
  .mainBlog .morePosts {
    grid-area: morePosts;
    display: flex;
    justify-content: center;
    margin-top: 2rem; }
    .mainBlog .morePosts .btn {
      border: 2px solid #372256;
      border-radius: 1.2rem; }
    .mainBlog .morePosts .btn-primary {
      background-color: #FFFFFF;
      color: #372256; }
      .mainBlog .morePosts .btn-primary:hover {
        background-color: #372256;
        color: #FFFFFF; }
    .mainBlog .morePosts .buttonMorePosts {
      margin: 1.2rem 20rem;
      display: flex;
      justify-content: center;
      border: 0.2rem solid #372256;
      border-radius: 20rem;
      padding: 0.6rem; }
      .mainBlog .morePosts .buttonMorePosts h4 {
        font-weight: bold; }

h1, h3 {
  color: #372256;
  line-height: 1;
  font-weight: bold; }

h2, h4 {
  color: #372256;
  font-weight: normal; }

.mainInstructions {
  display: grid;
  grid-template-areas: "presentationPage presentationPage" ". titleInstructions" "instructionsImage instructionsSteps" "titleInstructionsTwo ." "instructionsStepsTwo instructionsImageTwo" ". titleInstructionsThree" "instructionsImageThree instructionsStepsThree";
  grid-template-columns: 1fr 1fr;
  /* USADAS EN INSTRUCCIONES */ }
  .mainInstructions .titleInstructions {
    padding: 8rem 5rem;
    grid-area: titleInstructions;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .mainInstructions .titleInstructions h3 {
      margin-top: 1rem; }
    .mainInstructions .titleInstructions h4 {
      font-weight: bold; }
  .mainInstructions .titleInstructionsTwo {
    padding: 8rem 5rem;
    grid-area: titleInstructionsTwo;
    display: flex;
    justify-content: flex-end; }
    .mainInstructions .titleInstructionsTwo h3 {
      margin-top: 1rem; }
    .mainInstructions .titleInstructionsTwo h4 {
      font-weight: bold; }
  .mainInstructions .titleInstructionsThree {
    padding: 8rem 5rem;
    grid-area: titleInstructionsThree;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .mainInstructions .titleInstructionsThree h3 {
      margin-top: 1rem; }
    .mainInstructions .titleInstructionsThree h4 {
      font-weight: bold; }
  .mainInstructions .instructionsSteps {
    grid-area: instructionsSteps;
    padding: 0rem 5rem; }
    .mainInstructions .instructionsSteps h4 {
      font-weight: bold; }
    .mainInstructions .instructionsSteps ol {
      padding: 0rem; }
      .mainInstructions .instructionsSteps ol li {
        list-style: none;
        margin-bottom: 1.2rem; }
  .mainInstructions .instructionsStepsTwo {
    grid-area: instructionsStepsTwo;
    padding: 0rem 5rem; }
    .mainInstructions .instructionsStepsTwo ol {
      padding: 0rem; }
      .mainInstructions .instructionsStepsTwo ol li {
        list-style: none;
        margin-bottom: 1.2rem; }
    .mainInstructions .instructionsStepsTwo h4 {
      font-weight: bold; }
  .mainInstructions .instructionsStepsThree {
    grid-area: instructionsStepsThree;
    padding: 0rem 5rem; }
    .mainInstructions .instructionsStepsThree ol {
      padding: 0rem; }
      .mainInstructions .instructionsStepsThree ol li {
        list-style: none;
        margin-bottom: 1.2rem; }
    .mainInstructions .instructionsStepsThree h4 {
      font-weight: bold; }
  .mainInstructions .instructionsImage {
    grid-area: instructionsImage;
    padding: 0rem 5rem 5rem 5rem; }
    .mainInstructions .instructionsImage img {
      width: 100%;
      border-radius: 1.2rem; }
  .mainInstructions .instructionsImageTwo {
    grid-area: instructionsImageTwo;
    padding: 0rem 5rem 5rem 5rem; }
    .mainInstructions .instructionsImageTwo img {
      width: 100%;
      border-radius: 1.2rem; }
  .mainInstructions .instructionsImageThree {
    grid-area: instructionsImageThree;
    padding: 0rem 5rem 5rem 5rem; }
    .mainInstructions .instructionsImageThree img {
      width: 100%;
      border-radius: 1.2rem; }

h1, h3 {
  color: #372256;
  line-height: 1;
  font-weight: bold; }

h2, h4 {
  color: #372256;
  font-weight: normal; }

.mainInstructions {
  display: grid;
  grid-template-areas: "presentationPage presentationPage" ". titleInstructions" "instructionsImage instructionsSteps" "titleInstructionsTwo ." "instructionsStepsTwo instructionsImageTwo" ". titleInstructionsThree" "instructionsImageThree instructionsStepsThree";
  grid-template-columns: 1fr 1fr;
  /* USADAS EN INSTRUCCIONES */ }
  .mainInstructions .titleInstructions {
    padding: 8rem 5rem;
    grid-area: titleInstructions;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .mainInstructions .titleInstructions h3 {
      margin-top: 1rem; }
    .mainInstructions .titleInstructions h4 {
      font-weight: bold; }
  .mainInstructions .titleInstructionsTwo {
    padding: 8rem 5rem;
    grid-area: titleInstructionsTwo;
    display: flex;
    justify-content: flex-end; }
    .mainInstructions .titleInstructionsTwo h3 {
      margin-top: 1rem; }
    .mainInstructions .titleInstructionsTwo h4 {
      font-weight: bold; }
  .mainInstructions .titleInstructionsThree {
    padding: 8rem 5rem;
    grid-area: titleInstructionsThree;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .mainInstructions .titleInstructionsThree h3 {
      margin-top: 1rem; }
    .mainInstructions .titleInstructionsThree h4 {
      font-weight: bold; }
  .mainInstructions .instructionsSteps {
    grid-area: instructionsSteps;
    padding: 0rem 5rem; }
    .mainInstructions .instructionsSteps h4 {
      font-weight: bold; }
    .mainInstructions .instructionsSteps ol {
      padding: 0rem; }
      .mainInstructions .instructionsSteps ol li {
        list-style: none;
        margin-bottom: 1.2rem; }
  .mainInstructions .instructionsStepsTwo {
    grid-area: instructionsStepsTwo;
    padding: 0rem 5rem; }
    .mainInstructions .instructionsStepsTwo ol {
      padding: 0rem; }
      .mainInstructions .instructionsStepsTwo ol li {
        list-style: none;
        margin-bottom: 1.2rem; }
    .mainInstructions .instructionsStepsTwo h4 {
      font-weight: bold; }
  .mainInstructions .instructionsStepsThree {
    grid-area: instructionsStepsThree;
    padding: 0rem 5rem; }
    .mainInstructions .instructionsStepsThree ol {
      padding: 0rem; }
      .mainInstructions .instructionsStepsThree ol li {
        list-style: none;
        margin-bottom: 1.2rem; }
    .mainInstructions .instructionsStepsThree h4 {
      font-weight: bold; }
  .mainInstructions .instructionsImage {
    grid-area: instructionsImage;
    padding: 0rem 5rem 5rem 5rem; }
    .mainInstructions .instructionsImage img {
      width: 100%;
      border-radius: 1.2rem; }
  .mainInstructions .instructionsImageTwo {
    grid-area: instructionsImageTwo;
    padding: 0rem 5rem 5rem 5rem; }
    .mainInstructions .instructionsImageTwo img {
      width: 100%;
      border-radius: 1.2rem; }
  .mainInstructions .instructionsImageThree {
    grid-area: instructionsImageThree;
    padding: 0rem 5rem 5rem 5rem; }
    .mainInstructions .instructionsImageThree img {
      width: 100%;
      border-radius: 1.2rem; }

h1, h3 {
  color: #372256;
  line-height: 1;
  font-weight: bold; }

h2, h4 {
  color: #372256;
  font-weight: normal; }

.mainApp {
  display: grid;
  grid-template-areas: "presentationPage presentationPage" "featureImage featureDescription" "featureAltDescription featureAltImage" "featureTwoImage featureTwoDescription" "moreFeatures moreFeatures" "bienaventurados bienaventurados";
  grid-template-columns: 1fr 1fr;
  /* USADAS EN NUESTRA APP */ }
  .mainApp .downloadButton {
    margin-top: 2rem; }
    .mainApp .downloadButton img:hover {
      transform: scale(1.02); }
  .mainApp .othersSections {
    padding: 8rem 5rem;
    grid-area: moreFeatures;
    background-color: #F9F9FA;
    text-align: center; }
    .mainApp .othersSections h3 {
      margin-bottom: 4rem; }
    .mainApp .othersSections .features {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-around; }
      .mainApp .othersSections .features .feature {
        padding: 0rem 2rem; }
        .mainApp .othersSections .features .feature img {
          width: 60%;
          border-radius: 1.2rem; }
        .mainApp .othersSections .features .feature .description {
          margin-top: 2rem; }
  .mainApp .bienaventuradosSection {
    padding: 8rem 5rem;
    grid-area: bienaventurados;
    display: flex;
    justify-content: center;
    text-align: center; }
    .mainApp .bienaventuradosSection .containerBienaventuradosSection {
      width: 40%; }
      .mainApp .bienaventuradosSection .containerBienaventuradosSection .quote {
        margin: 2rem; }
      .mainApp .bienaventuradosSection .containerBienaventuradosSection .isoBienaventurados {
        width: 24%;
        margin-bottom: 4rem; }

h1, h3 {
  color: #372256;
  line-height: 1;
  font-weight: bold; }

h2, h4 {
  color: #372256;
  font-weight: normal; }

/* USADAS EN ACERCA DE */
.mainAbout {
  display: grid;
  grid-template-areas: "presentationPage presentationPage" "imgSE descriptionSE" "descriptionStory imgStory";
  grid-template-columns: 1fr 1fr; }
  .mainAbout .descriptionSE {
    padding: 8rem 5rem;
    background-color: #F9F9FA;
    grid-area: descriptionSE; }
    .mainAbout .descriptionSE .tagline {
      margin: 10px 0px 40px 0px; }
  .mainAbout .isotypeSE {
    grid-area: imgSE;
    background-color: #F9F9FA;
    display: flex;
    align-items: center;
    justify-content: center; }
    .mainAbout .isotypeSE .imgSE {
      margin: 5rem;
      width: 40%; }
  .mainAbout .descriptionStory {
    padding: 8rem 5rem;
    grid-area: descriptionStory; }
    .mainAbout .descriptionStory .description {
      margin-top: 40px; }
  .mainAbout .imgStory {
    padding: 8rem 5rem;
    grid-area: imgStory; }
    .mainAbout .imgStory img {
      width: 100%;
      border-radius: 1.2rem; }

/* ----- PROPIEDADES GENERALES  ----- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins'; }

h1 {
  font-size: 3.4rem; }

h2 {
  font-size: 1.4rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1rem; }

h5 {
  font-size: 0.8rem;
  font-weight: bold; }

h6 {
  font-size: 0.8rem;
  font-weight: normal; }

/* ----- INICIO PROPIEDADES DEL BODY  ----- */
body {
  display: grid;
  grid-template-areas: "header" "main" "footer"; }
  body header {
    grid-area: header; }
  body main {
    grid-area: main; }
  body footer {
    grid-area: footer; }

/* ----- INICIO PROPIEDADES DEL HEADER  ----- */
header {
  grid-area: header; }
  header .menuIcon {
    display: none; }
  header .navBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    padding: 0.8rem 4rem 0.8rem 5rem;
    align-items: center;
    z-index: 1; }
    header .navBar img {
      height: 3rem; }
    header .navBar a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      color: #372256; }
    header .navBar ul {
      display: flex;
      list-style: none; }
      header .navBar ul li {
        margin: 1rem 1rem; }

/* ----- PROPIEDADES MAIN ----- */
/* PRESENTACION DE PAGINA */
.presentationPage {
  grid-area: presentationPage;
  display: flex;
  flex-direction: column;
  padding: 10rem 4rem;
  align-items: center;
  text-align: center; }
  .presentationPage .subtitle {
    width: 60%;
    margin-top: 2rem;
    text-align: center; }

/* CARACTERISTICAS (COMPARTIDO EN INDEX - NUESTRA APP - INSTRUCCIONES) */
.featureDescription {
  padding: 8rem 5rem;
  grid-area: featureDescription; }

.featureImage {
  grid-area: featureImage;
  margin: 5rem; }
  .featureImage img {
    width: 100%;
    border-radius: 1.2rem; }

.featureTwoDescription {
  padding: 8rem 5rem;
  grid-area: featureTwoDescription; }

.featureTwoImage {
  margin: 5rem;
  grid-area: featureTwoImage; }
  .featureTwoImage img {
    width: 100%;
    border-radius: 1.2rem; }

.subtitleSection {
  margin-top: 2rem; }

.featureAltDescription {
  padding: 8rem 5rem;
  grid-area: featureAltDescription;
  background-color: #F9F9FA; }

.featureAlt {
  grid-area: featureAltImage;
  background-color: #F9F9FA; }
  .featureAlt .featureAltImage {
    margin: 5rem; }
  .featureAlt img {
    width: 100%;
    border-radius: 1.2rem; }

/* BLOG SECTION (COMPARTIDO EN INDEX - BLOG) */
.blogSection {
  padding: 8rem 5rem;
  grid-area: blog; }
  .blogSection h3 {
    margin: 1rem 0rem; }
  .blogSection h4 {
    font-weight: bold; }
  .blogSection .posts {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    gap: 2rem; }
    .blogSection .posts .post {
      padding: 1rem; }
      .blogSection .posts .post a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        color: #372256; }
      .blogSection .posts .post p {
        font-size: 0.8rem; }
      .blogSection .posts .post img {
        width: 100%;
        border-radius: 1.2rem; }
      .blogSection .posts .post .titlePost {
        margin: 1rem 0px; }
      .blogSection .posts .post:hover {
        border-radius: 1.2rem;
        box-shadow: 0 0 11px rgba(33, 33, 33, 0.2); }

/* ----- PROPIEDADES FOOTER -----  */
footer {
  grid-area: footer;
  background-color: #372256;
  padding: 6rem 5rem 2rem 5rem; }
  footer h5,
  footer h6 {
    color: #F9F9FA; }
  footer a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: normal;
    color: #F9F9FA; }
    footer a:hover {
      color: #F9F9FA; }
  footer ul {
    list-style: none;
    padding: 0rem; }
    footer ul li {
      font-size: 0.8rem;
      margin: 12px 0px;
      padding: 0rem;
      color: #F9F9FA; }
  footer .footerInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    footer .footerInfo .footerLogo img {
      height: 200px; }
    footer .footerInfo .footerLinks {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between; }
      footer .footerInfo .footerLinks .footerPages {
        margin: 0px 40px; }
      footer .footerInfo .footerLinks .footerSocial {
        padding-top: 16px;
        margin: 0px 40px; }
      footer .footerInfo .footerLinks .footerProjects {
        padding-top: 16px;
        margin: 0px 40px; }
      footer .footerInfo .footerLinks .footerDownload {
        padding-top: 16px; }
        footer .footerInfo .footerLinks .footerDownload img {
          padding-top: 20px; }
  footer .footerLegal {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center; }
    footer .footerLegal ul {
      display: flex; }
      footer .footerLegal ul li {
        font-size: 0.8rem;
        margin: 0px 0px 0px 20px; }
        footer .footerLegal ul li:hover {
          color: #F9F9FA; }

/* -----  INICIO PROPIEDADES MEDIA QUERYS -----  */
@media only screen and (max-width: 1024px) {
  /* GENERALES */
  h1 {
    font-size: 3.2rem; }
  h2 {
    font-size: 1.2rem; }
  h3 {
    font-size: 1.8rem; }
  h4 {
    font-size: 1rem; }
  h5 {
    font-size: 0.8rem; }
  h6 {
    font-size: 0.8rem; }
  /* PRESENTACION DE PAGINA */
  .presentationPage {
    padding: 8rem 5rem; }
  /* CARACTERISTICAS */
  .featureDescription {
    padding: 6rem 5rem; }
  .featureImage {
    align-self: center; }
    .featureImage img {
      width: 100%;
      border-radius: 0.8rem; }
  .featureTwoDescription {
    padding: 6rem 5rem; }
  .featureTwoImage img {
    width: 100%;
    border-radius: 0.8rem; }
  .featureAltImage {
    align-self: center; }
    .featureAltImage img {
      width: 100%;
      border-radius: 0.8rem; }
  /* BLOG SECTION */
  .blogSection {
    padding: 6rem 5rem; }
  footer {
    padding: 6rem 5rem 2rem 5rem; }
    footer a {
      font-size: 0.8rem; }
    footer ul li {
      font-size: 0.8rem; }
    footer .footerInfo {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center; }
      footer .footerInfo .footerLogo img {
        display: none; }
      footer .footerInfo .footerLinks {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 100%; }
        footer .footerInfo .footerLinks .footerPages {
          margin: 0px 40px 0px 0px; }
        footer .footerInfo .footerLinks .footerSocial {
          padding-top: 16px;
          margin: 0px 40px 0px 0px; }
        footer .footerInfo .footerLinks .footerProjects {
          padding-top: 16px;
          margin: 0px 40px 0px 0px; }
        footer .footerInfo .footerLinks .footerDownload {
          padding-top: 16px; }
          footer .footerInfo .footerLinks .footerDownload img {
            padding-top: 20px; }
  /* INDEX */
  .mainIndex {
    /* USADO EN PAGINA INICIO */ }
    .mainIndex .presentationDescription {
      padding: 8rem 5rem; }
    .mainIndex .presentationImage {
      padding: 8rem 5rem;
      padding: 8rem 0rem; }
    .mainIndex .downloadSection {
      padding: 6rem 5rem; }
  /* BLOG */
  .mainBlog .lastPostDescription {
    padding: 8rem 5rem; }
  .mainBlog .lastPostImage {
    padding: 1rem; }
    .mainBlog .lastPostImage img {
      width: 100%;
      border-radius: 1.2rem; }
  /* INSTRUCCIONES */
  .mainInstructions .titleInstructions {
    padding: 6rem 5rem; }
  .mainInstructions .titleInstructionsTwo {
    padding: 6rem 5rem; }
  .mainInstructions .titleInstructionsThree {
    padding: 6rem 5rem; }
  .mainInstructions .instructionsImage {
    padding: 6rem 5rem; }
    .mainInstructions .instructionsImage img {
      width: 100%;
      border-radius: 0.8rem; }
  .mainInstructions .instructionsImageTwo {
    padding: 6rem 5rem; }
    .mainInstructions .instructionsImageTwo img {
      width: 100%;
      border-radius: 0.8rem; }
  .mainInstructions .instructionsImageThree {
    padding: 6rem 5rem; }
    .mainInstructions .instructionsImageThree img {
      width: 100%;
      border-radius: 0.8rem; }
  .mainInstructions .instructionsSteps {
    padding: 0rem 5rem; }
  .mainInstructions .instructionsStepsTwo {
    padding: 0rem 5rem; }
  .mainInstructions .instructionsStepsThree {
    padding: 0rem 5rem 6rem 0rem; }
  /* NUESTRA APP */
  .mainApp {
    /* NUESTRA APP */ }
    .mainApp .othersSections {
      padding: 6rem 5rem; }
      .mainApp .othersSections .features {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between; }
        .mainApp .othersSections .features .feature {
          width: 50%;
          margin: 2rem 0rem; }
          .mainApp .othersSections .features .feature img {
            width: 60%;
            min-width: 10rem;
            border-radius: 0.8rem; }
          .mainApp .othersSections .features .feature .description {
            margin: 2rem; }
    .mainApp .bienaventuradosSection {
      padding: 4rem 3rem;
      grid-area: bienaventurados;
      display: flex;
      justify-content: center;
      text-align: center; }
      .mainApp .bienaventuradosSection .containerBienaventuradosSection {
        width: 100%; }
        .mainApp .bienaventuradosSection .containerBienaventuradosSection .quote {
          margin: 2rem; }
        .mainApp .bienaventuradosSection .containerBienaventuradosSection .isoBienaventurados {
          width: 20%;
          margin-bottom: 4rem; }
  /* ACERCA DE */
  .mainAbout .descriptionSE {
    padding: 6rem 5rem; }
  .mainAbout .isotypeSE .imgSE {
    margin: 2rem;
    width: 60%; }
  .mainAbout .descriptionStory {
    padding: 6rem 5rem;
    grid-area: descriptionStory; }
    .mainAbout .descriptionStory .description {
      margin-top: 40px; }
  .mainAbout .imgStory {
    grid-area: imgStory;
    padding: 4rem 3rem 0rem 3rem; }
    .mainAbout .imgStory img {
      width: 100%;
      border-radius: border-radius-m; } }

/* MEDIA QUERY PARA MOBILE */
@media only screen and (max-width: 680px) {
  /* GENERALES */
  h1 {
    font-size: 2.2rem; }
  h2 {
    font-size: 1.2rem; }
  h3 {
    font-size: 1.4rem; }
  h4 {
    font-size: 1rem; }
  h5 {
    font-size: 0.8rem; }
  h6 {
    font-size: 0.8rem; }
  /* PRESENTACION DE PAGINA */
  .presentationPage {
    padding: 8rem 3rem; }
  /* CARACTERISTICAS */
  .featureDescription {
    padding: 4rem 3rem; }
  .featureImage {
    align-self: center;
    margin: 2rem; }
    .featureImage img {
      width: 100%;
      border-radius: 0.8rem; }
  .featureTwoDescription {
    padding: 4rem 3rem; }
  .featureTwoImage {
    margin: 2rem;
    align-self: center; }
    .featureTwoImage img {
      width: 100%;
      border-radius: 0.8rem; }
  .featureAltDescription {
    padding: 4rem 3rem; }
  .featureAlt {
    align-self: center; }
    .featureAlt .featureAltImage {
      margin: 2rem; }
    .featureAlt img {
      width: 100%;
      border-radius: 0.8rem; }
  /* BLOG SECTION */
  .blogSection {
    padding: 4rem 3rem; }
    .blogSection .posts {
      display: grid;
      grid-template-columns: 1fr; }
      .blogSection .posts .post {
        width: 100%;
        padding: 1rem; }
        .blogSection .posts .post img {
          border-radius: 0.8rem;
          min-width: 20rem; }
  /* FOOTER */
  footer {
    padding: 4rem 3rem; }
    footer a {
      font-size: 0.8rem; }
    footer ul li {
      font-size: 0.8rem; }
    footer .footerInfo .footerLogo img {
      display: none; }
    footer .footerInfo .footerLinks {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%; }
      footer .footerInfo .footerLinks .footerPages {
        margin: 2rem 2rem; }
      footer .footerInfo .footerLinks .footerSocial {
        margin: 2rem 2rem; }
      footer .footerInfo .footerLinks .footerProjects {
        margin: 2rem 2rem; }
      footer .footerInfo .footerLinks .footerDownload {
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center; }
        footer .footerInfo .footerLinks .footerDownload .tituloDescarga {
          display: none; }
    footer .footerLegal {
      display: flex;
      padding-top: 0rem;
      flex-direction: column-reverse;
      justify-content: space-between;
      align-items: center; }
      footer .footerLegal ul {
        display: flex;
        flex-direction: column;
        padding: 2rem; }
        footer .footerLegal ul li {
          font-size: 0.8rem;
          margin: 0.8rem; }
  /* INDEX */
  /* GRID LAYOUT */
  .mainIndex {
    display: grid;
    grid-template-areas: "presentationDescription" "presentationImage" "featureDescription" "featureImage" "featureAltDescription" "featureAltImage" "download" "blog";
    grid-template-columns: 1fr;
    /* USADO EN PAGINA INICIO */ }
    .mainIndex .presentationDescription {
      padding: 8rem 3rem;
      text-align: center; }
    .mainIndex .presentationImage {
      display: flex;
      padding: 0rem;
      justify-content: center;
      flex-wrap: wrap; }
      .mainIndex .presentationImage img {
        margin: 0.8rem;
        bottom: 2rem;
        right: 0rem; }
      .mainIndex .presentationImage .img-grid {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
    .mainIndex .downloadSection {
      padding: 4rem 3rem; }
      .mainIndex .downloadSection .downloadContainer {
        border-radius: 0.8rem; }
        .mainIndex .downloadSection .downloadContainer .downloadApp {
          padding: 4rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center; }
          .mainIndex .downloadSection .downloadContainer .downloadApp h3 {
            text-align: center; }
  /* BLOG */
  .mainBlog {
    display: grid;
    grid-template-areas: "presentationPage" "lastPostDescription" "lastPostImage" "blog" "morePosts";
    grid-template-columns: 1fr;
    /* BLOG */ }
    .mainBlog .lastPostDescription {
      padding: 4rem 3rem 0rem 3rem; }
    .mainBlog .lastPostImage {
      padding: 4rem 3rem; }
      .mainBlog .lastPostImage img {
        width: 100%;
        border-radius: 0.8rem; }
    .mainBlog .morePosts .buttonMorePosts {
      margin: 1.2rem 0rem;
      padding: 0.6rem; }
  /* INSTRUCCIONES */
  .mainInstructions {
    display: grid;
    grid-template-areas: "presentationPage" "titleInstructions" "instructionsSteps" "instructionsImage" "titleInstructionsTwo" "instructionsStepsTwo" "instructionsImageTwo" "titleInstructionsThree" "instructionsStepsThree" "instructionsImageThree";
    grid-template-columns: 1fr; }
    .mainInstructions .titleInstructions {
      padding: 4rem 3rem;
      display: flex;
      justify-content: center;
      text-align: center; }
    .mainInstructions .titleInstructionsTwo {
      padding: 4rem 3rem;
      display: flex;
      justify-content: center;
      text-align: center; }
    .mainInstructions .titleInstructionsThree {
      padding: 4rem 3rem;
      display: flex;
      justify-content: center;
      text-align: center; }
    .mainInstructions .instructionsImage {
      padding: 4rem 3rem; }
      .mainInstructions .instructionsImage img {
        width: 100%;
        border-radius: 0.8rem; }
    .mainInstructions .instructionsImageTwo {
      padding: 4rem 3rem; }
      .mainInstructions .instructionsImageTwo img {
        width: 100%;
        border-radius: 0.8rem; }
    .mainInstructions .instructionsImageThree {
      padding: 4rem 3rem; }
      .mainInstructions .instructionsImageThree img {
        width: 100%;
        border-radius: 0.8rem; }
    .mainInstructions .instructionsSteps {
      padding: 0rem 3rem; }
    .mainInstructions .instructionsStepsTwo {
      padding: 0rem 3rem; }
    .mainInstructions .instructionsStepsThree {
      padding: 0rem 3rem; }
  /* NUESTRA APP */
  .mainApp {
    display: grid;
    grid-template-areas: "presentationPage" "featureDescription" "featureImage" "featureAltDescription" "featureAltImage" "featureTwoDescription" "featureTwoImage" "moreFeatures" "bienaventurados";
    grid-template-columns: 1fr;
    /* NUESTRA APP */ }
    .mainApp .othersSections {
      padding: 4rem 3rem;
      text-align: center; }
      .mainApp .othersSections .features {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 4rem 0rem; }
        .mainApp .othersSections .features .feature {
          width: 100%; }
          .mainApp .othersSections .features .feature img {
            width: 100%;
            min-width: 10rem;
            border-radius: 0.8rem; }
          .mainApp .othersSections .features .feature .description {
            margin: 2rem; }
    .mainApp .bienaventuradosSection {
      padding: 4rem 3rem;
      grid-area: bienaventurados;
      display: flex;
      justify-content: center;
      text-align: center; }
      .mainApp .bienaventuradosSection .containerBienaventuradosSection {
        width: 100%; }
        .mainApp .bienaventuradosSection .containerBienaventuradosSection .quote {
          margin: 2rem; }
        .mainApp .bienaventuradosSection .containerBienaventuradosSection .isoBienaventurados {
          width: 20%;
          margin-bottom: 4rem; }
  /* ACERCA DE */
  .mainAbout {
    display: grid;
    grid-template-areas: "presentationPage" "imgSE" "descriptionSE" "imgStory" "descriptionStory";
    grid-template-columns: 1fr; }
    .mainAbout .descriptionSE {
      padding: 4rem 3rem;
      background-color: #F9F9FA;
      grid-area: descriptionSE; }
      .mainAbout .descriptionSE .tagline {
        margin: 10px 0px 40px 0px; }
    .mainAbout .isotypeSE .imgSE {
      margin: 2rem;
      width: 40%; }
    .mainAbout .descriptionStory {
      padding: 4rem 3rem;
      grid-area: descriptionStory; }
      .mainAbout .descriptionStory .description {
        margin-top: 40px; }
    .mainAbout .imgStory {
      grid-area: imgStory;
      padding: 4rem 3rem 0rem 3rem; }
      .mainAbout .imgStory img {
        width: 100%;
        border-radius: border-radius-m; } }
