@import "utilities/variables";
@import "layout/media";
@import "layout/animaciones";

@import "layout/index";
@import "layout/blog";
@import "layout/instrucciones";
@import "layout/instrucciones";
@import "layout/nuestra_app";
@import "layout/acerca_de";

/* ----- PROPIEDADES GENERALES  ----- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h1 {
    @extend %boldStyle;
    font-size: $size-h1;
}

h2 {
    @extend %normalStyle;
    font-size: $size-h2;
}

h3 {
    @extend %boldStyle;
    font-size: $size-h3;
}

h4 {
    @extend %normalStyle;
    font-size: $size-h4;
}

h5 {
    font-size: $size-h5;
    font-weight: bold;
}

h6 {
    font-size: $size-h6;
    font-weight: normal;
}


/* ----- INICIO PROPIEDADES DEL BODY  ----- */

body {
    display: grid;
    grid-template-areas: "header"
        "main"
        "footer";

    header {
        grid-area: header;
    }

    main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }
}

/* ----- INICIO PROPIEDADES DEL HEADER  ----- */

header {
    grid-area: header;

    .menuIcon {
        display: none;
    }

    .navBar {
        display: flex;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        background-color: nth($colores, 4);
        padding: 0.8rem 4rem 0.8rem 5rem;
        align-items: center;

        z-index: 1;

        img {
            height: 3rem;
        }

        a {
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            color: nth($colores, 1);
        }

        ul {
            display: flex;
            list-style: none;

            li {
                margin: 1rem 1rem;
            }
        }
    }
}

/* ----- PROPIEDADES MAIN ----- */

/* PRESENTACION DE PAGINA */

.presentationPage {
    grid-area: presentationPage;
    display: flex;
    flex-direction: column;
    padding: 10rem 4rem;
    align-items: center;
    text-align: center;

    .subtitle {
        width: 60%;
        margin-top: 2rem;
        text-align: center;
    }

}

/* CARACTERISTICAS (COMPARTIDO EN INDEX - NUESTRA APP - INSTRUCCIONES) */

.featureDescription {
    @include basePadding;
    grid-area: featureDescription;
}

.featureImage {
    grid-area: featureImage;
    @include basePadding;

    img {
        width: 20rem;
        border-radius: $border-radius;
    }
}

.featureTwoDescription {
    @include basePadding;
    grid-area: featureTwoDescription;
}

.featureTwoImage {
    @include basePadding;
    grid-area: featureTwoImage;

    img {
        width: 20rem;
        border-radius: $border-radius;
    }
}

.subtitleSection {
    margin-top: 2rem;
}

.featureAltDescription {
    @include basePadding;
    grid-area: featureAltDescription;
    background-color: nth($colores, 3);
}

.featureAltImage {
    @include basePadding;
    grid-area: featureAltImage;
    display: flex;
    justify-content: flex-end;
    background-color: nth($colores, 3);

    img {
        width: 20rem;
        border-radius: $border-radius;
    }
}

/* BLOG SECTION (COMPARTIDO EN INDEX - BLOG) */

.blogSection {
    @include basePadding;
    grid-area: blog;

    h3 {
        margin: 1rem 0rem;
    }

    h4 {
        font-weight: bold;
    }

    .posts {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 4rem;

        .post {
            padding: 1rem;

            p {
                font-size: $size-h5;
            }

            img {
                width: 100%;
                border-radius: $border-radius;
            }

            .titlePost {
                margin: 1rem 0px;
            }

            &:hover {
                border-radius: $border-radius;
                box-shadow: 0 0 11px rgba(33,33,33,.2);
            }
        }
    }
}

/* ----- PROPIEDADES FOOTER -----  */

footer {
    grid-area: footer;
    background-color: nth($colores, 1);
    padding: 6rem 5rem 2rem 5rem;

    h5,
    h6 {
        color: nth($colores, 3);
    }

    a {
        text-decoration: none;
        font-size: $size-h5;
        font-weight: normal;
        color: nth($colores, 3);

        &:hover {
            color: nth($colores, 3);
        }
    }

    ul {
        list-style: none;
        padding: 0rem;

        li {
            font-size: $size-h5;
            margin: 12px 0px;
            padding: 0rem;
            color: nth($colores, 3);
        }
    }

    .footerInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .footerLogo {
            img {
                height: 200px;
            }
        }

        .footerLinks {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;

            .footerPages {
                margin: 0px 40px;
            }

            .footerSocial {
                padding-top: 16px;
                margin: 0px 40px;
            }

            .footerProjects {
                padding-top: 16px;
                margin: 0px 40px;
            }

            .footerDownload {
                padding-top: 16px;

                img {
                    padding-top: 20px;
                }
            }
        }
    }

    .footerLegal {
        display: flex;
        justify-content: space-between;
        padding-top: 40px;
        align-items: center;

        ul {
            display: flex;

            li {
                font-size: $size-h6;
                margin: 0px 0px 0px 20px;

                &:hover {
                    color: nth($colores, 3);
                }
            }
        }
    }
}

/* -----  INICIO PROPIEDADES MEDIA QUERYS -----  */

@media only screen and (max-width: 1024px) {

    /* GENERALES */

    h1 {
        font-size: $size-h1-t;
    }

    h2 {
        font-size: $size-h2-t;
    }

    h3 {
        font-size: $size-h3-t;
    }

    h4 {
        font-size: $size-h4-t;
    }

    h5 {
        font-size: $size-h5-t;
    }

    h6 {
        font-size: $size-h6-t;
    }

    /* PRESENTACION DE PAGINA */

    .presentationPage {
        @include paddingHeader-t;
    }

    /* CARACTERISTICAS */


    .featureDescription {
        @include basePadding-t;
    }

    .featureImage {
        align-self: center;

        img {
            width: 100%;
            border-radius: $border-radius-m;
        }
    }

    .featureTwoDescription {
        @include basePadding-t;
    }

    .featureTwoImage {

        img {
            width: 100%;
            border-radius: 0.8rem;
        }
    }

    .featureAltImage {
        align-self: center;

        img {
            width: 100%;
            border-radius: 0.8rem;
        }
    }

    /* BLOG SECTION */
    .blogSection {
        @include basePadding-t;
    
        .posts {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    footer {
        padding: 6rem 5rem 2rem 5rem;

        a {
            font-size: $size-h5-t;
        }

        ul {
            li {
                font-size: $size-h5-t;
            }
        }

        .footerInfo {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;

            .footerLogo {
                img {
                    display: none;
                }
            }

            .footerLinks {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
                width: 100%;

                .footerPages {
                    margin: 0px 40px 0px 0px;
                }

                .footerSocial {
                    padding-top: 16px;
                    margin: 0px 40px 0px 0px;
                }

                .footerProjects {
                    padding-top: 16px;
                    margin: 0px 40px 0px 0px;
                }

                .footerDownload {
                    padding-top: 16px;

                    img {
                        padding-top: 20px;
                    }
                }
            }
        }
    }

    /* INDEX */

    .mainIndex {

        /* USADO EN PAGINA INICIO */
        .presentationDescription {
            @include paddingHeader-t;

        }

        .presentationImage {
            @include paddingHeader-t;
            padding: 8rem 0rem;
        }

        .downloadSection {
            @include basePadding-t;
        }
    }

    /* BLOG */

    .mainBlog {
        .lastPostDescription {
            @include paddingHeader-t;
        }

        .lastPostImage {
            @include basePadding-t;

            img {
                width: 100%;
                border-radius: $border-radius;
            }
        }
    }

    /* INSTRUCCIONES */

    .mainInstructions {
        .titleInstructions {
            @include basePadding-t;
        }

        .titleInstructionsTwo {
            @include basePadding-t;
        }

        .titleInstructionsThree {
            @include basePadding-t;
        }

        .instructionsImage {
            @include basePadding-t;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsImageTwo {
            @include basePadding-t;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsImageThree {
            @include basePadding-t;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsSteps {
            padding: 0rem 5rem;
        }

        .instructionsStepsTwo {
            padding: 0rem 5rem;
        }

        .instructionsStepsThree {
            padding: 0rem 5rem 6rem 0rem;
        }
    }

    /* NUESTRA APP */

    .mainApp {
        /* NUESTRA APP */

        .othersSections {
            @include basePadding-t;

            .features {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;

                .feature {
                    width: 50%;
                    margin: 2rem 0rem;

                    img {
                        width: 60%;
                        min-width: 10rem;
                        border-radius: $border-radius-m;
                    }

                    .description {
                        margin: 2rem;
                    }
                }
            }
        }

        .bienaventuradosSection {
            @include basePadding-m;
            grid-area: bienaventurados;
            display: flex;
            justify-content: center;
            text-align: center;

            .containerBienaventuradosSection {
                width: 100%;

                .quote {
                    margin: 2rem;
                }

                .isoBienaventurados {
                    width: 20%;
                    margin-bottom: 4rem;
                }
            }
        }
    }

    /* ACERCA DE */

    .mainAbout {
        .descriptionSE {
            @include basePadding-t;
        }

        .imgSE {
            @include basePadding-t;
            display: flex;
            justify-content: center;

            img {
                width: 60%;
            }
        }

        .descriptionStory {
            @include basePadding-t;
            grid-area: descriptionStory;

            .description {
                margin-top: 40px;
            }
        }

        .imgStory {
            grid-area: imgStory;
            padding: 4rem 3rem 0rem 3rem;

            img {
                width: 100%;
                border-radius: border-radius-m;
            }
        }

    }

}

/* MEDIA QUERY PARA MOBILE */

@media only screen and (max-width: 680px) {

    /* GENERALES */


    h1 {
        font-size: $size-h1-m;
    }

    h2 {
        font-size: $size-h2-m;
    }

    h3 {
        font-size: $size-h3-m;
    }

    h4 {
        font-size: $size-h4-m;
    }

    h5 {
        font-size: $size-h5-m;
    }

    h6 {
        font-size: $size-h6-m;
    }

    /* PRESENTACION DE PAGINA */

    .presentationPage {
        @include paddingHeader-m;
    }

    /* CARACTERISTICAS */


    .featureDescription {
        @include basePadding-m;
    }

    .featureImage {
        align-self: center;
        @include basePadding-m;

        img {
            width: 100%;
            border-radius: 0.8rem;
        }
    }

    .featureTwoDescription {
        @include basePadding-m;
    }

    .featureTwoImage {
        @include basePadding-m;
        align-self: center;

        img {
            width: 100%;
            border-radius: 0.8rem;
        }
    }

    .featureAltDescription {
        @include basePadding-m;
    }

    .featureAltImage {
        @include basePadding-m;
        align-self: center;

        img {
            width: 100%;
            border-radius: 0.8rem;
        }
    }

    /* BLOG SECTION */
    .blogSection {
        @include basePadding-m;

        .posts {
            flex-direction: column;

            .post {
                width: 100%;
                padding: 1rem;

                img {
                    border-radius: 0.8rem;
                    min-width: 20rem;
                }

            }

        }
    }

    /* FOOTER */

    footer {
        @include basePadding-m;

        a {
            font-size: $size-h5-m;
        }

        ul {
            li {
                font-size: $size-h5-t;
            }
        }

        .footerInfo {
            .footerLogo {
                img {
                    display: none;
                }
            }

            .footerLinks {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;

                .footerPages {
                    margin: 2rem 2rem;
                }

                .footerSocial {
                    margin: 2rem 2rem;
                }

                .footerProjects {
                    margin: 2rem 2rem;
                }

                .footerDownload {
                    width: 100%;
                    padding: 1rem;
                    display: flex;
                    justify-content: center;

                    .tituloDescarga {
                        display: none;
                    }

                }
            }
        }

        .footerLegal {
            display: flex;
            padding-top: 0rem;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;

            ul {
                display: flex;
                flex-direction: column;
                padding: 2rem;

                li {
                    font-size: 0.8rem;
                    margin: 0.8rem;
                }
            }
        }
    }

    /* INDEX */

    /* GRID LAYOUT */
    .mainIndex {
        display: grid;
        grid-template-areas: "presentationDescription"
            "presentationImage"
            "featureDescription"
            "featureImage"
            "featureAltDescription"
            "featureAltImage"
            "download"
            "blog";
        grid-template-columns: 1fr;

        /* USADO EN PAGINA INICIO */

        .presentationDescription {
            @include paddingHeader-m;
            text-align: center;
        }

        .presentationImage {
            display: flex;
            padding: 0rem;
            justify-content: center;
            flex-wrap: wrap;

            img {
                margin: 0.8rem;
                bottom: 2rem;
                right: 0rem;
            }

            .img-row {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .downloadSection {
            @include basePadding-m;

            .downloadContainer {
                border-radius: 0.8rem;

                .downloadApp {
                    padding: 4rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        text-align: center;
                    }
                }
            }
        }
    }

    /* BLOG */

    .mainBlog {
        display: grid;
        grid-template-areas: "presentationPage"
            "lastPostDescription"
            "lastPostImage"
            "blog"
            "morePosts";
        grid-template-columns: 1fr;

        /* BLOG */

        .lastPostDescription {
            padding: 4rem 3rem 0rem 3rem;
        }

        .lastPostImage {
            @include basePadding-m;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .morePosts {
            margin-bottom: 4rem;

            .buttonMorePosts {
                margin: 1.2rem 0rem;
                padding: 0.6rem;
            }
        }
    }

    /* INSTRUCCIONES */

    .mainInstructions {
        display: grid;
        grid-template-areas: "presentationPage"
            "titleInstructions"
            "instructionsSteps"
            "instructionsImage"
            "titleInstructionsTwo"
            "instructionsStepsTwo"
            "instructionsImageTwo"
            "titleInstructionsThree"
            "instructionsStepsThree"
            "instructionsImageThree";
        grid-template-columns: 1fr;

        .titleInstructions {
            @include basePadding-m;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .titleInstructionsTwo {
            @include basePadding-m;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .titleInstructionsThree {
            @include basePadding-m;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .instructionsImage {
            @include basePadding-m;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsImageTwo {
            @include basePadding-m;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsImageThree {
            @include basePadding-m;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsSteps {
            padding: 0rem 3rem;
        }

        .instructionsStepsTwo {
            padding: 0rem 3rem;
        }

        .instructionsStepsThree {
            padding: 0rem 3rem;
        }
    }

    /* NUESTRA APP */

    .mainApp {
        display: grid;
        grid-template-areas: "presentationPage"
            "featureDescription"
            "featureImage"
            "featureAltDescription"
            "featureAltImage"
            "featureTwoDescription"
            "featureTwoImage"
            "moreFeatures"
            "bienaventurados";
        grid-template-columns: 1fr;

        /* NUESTRA APP */

        .othersSections {
            @include basePadding-m;
            text-align: center;

            .features {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding: 4rem 0rem;

                .feature {
                    width: 50%;
                    margin: 2rem 0rem;

                    img {
                        width: 80%;
                        min-width: 10rem;
                        border-radius: $border-radius-m;
                    }

                    .description {
                        margin: 2rem;
                    }
                }
            }
        }

        .bienaventuradosSection {
            @include basePadding-m;
            grid-area: bienaventurados;
            display: flex;
            justify-content: center;
            text-align: center;

            .containerBienaventuradosSection {
                width: 100%;

                .quote {
                    margin: 2rem;
                }

                .isoBienaventurados {
                    width: 20%;
                    margin-bottom: 4rem;
                }
            }
        }
    }

    /* ACERCA DE */

    .mainAbout {
        display: grid;
        grid-template-areas: "presentationPage"
            "imgSE"
            "descriptionSE"
            "imgStory"
            "descriptionStory";
        grid-template-columns: 1fr;

        .descriptionSE {
            @include basePadding-m;
            background-color: nth($colores, 3);
            grid-area: descriptionSE;

            .tagline {
                margin: 10px 0px 40px 0px;
            }
        }

        .imgSE {
            padding: 4rem 3rem 0rem 3rem;
            display: flex;
            justify-content: center;

            img {
                width: 40%;
            }
        }

        .descriptionStory {
            @include basePadding-m;
            grid-area: descriptionStory;

            .description {
                margin-top: 40px;
            }
        }

        .imgStory {
            grid-area: imgStory;
            padding: 4rem 3rem 0rem 3rem;

            img {
                width: 100%;
                border-radius: border-radius-m;
            }
        }
    }

}