@import "variables";

/* ----- PROPIEDADES GENERALES  ----- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h1 {
    @extend %boldStyle;
    font-size: $size-h1;
}

h2 {
    @extend %normalStyle;
    font-size: $size-h2;
}

h3 {
    @extend %boldStyle;
    font-size: $size-h3;
}

h4 {
    @extend %normalStyle;
    font-size: $size-h4;
}

h5 {
    font-size: $size-h5;
    font-weight: bold;
}

h6 {
    font-size: $size-h6;
    font-weight: normal;
}

@media only screen and (max-width: 600px) {

    /* GENERALES */

    h1 {
        font-size: $size-h1-m;
    }

    h2 {
        font-size: $size-h2-m;
    }

    h3 {
        font-size: $size-h3-m;
    }

    h4 {
        font-size: $size-h4-m;
    }

    h5 {
        font-size: $size-h5-m;
    }

    h6 {
        font-size: $size-h6-m;
    }

}