@import "../utilities/variables";

/* USADAS EN ACERCA DE */

.mainAbout {
    display: grid;
    grid-template-areas: "presentationPage presentationPage"
        "imgSE descriptionSE"
        "descriptionStory imgStory"
    ;
    grid-template-columns: 1fr 1fr;

    .descriptionSE {
        @include basePadding;
        background-color: nth($colores, 3);
        grid-area: descriptionSE;

        .tagline {
            margin: 10px 0px 40px 0px;
        }
    }

    .imgSE {
        @include basePadding;
        grid-area: imgSE;
        background-color: nth($colores, 3);

        img {
           width: 60%;
        }
    }

    .descriptionStory {
        @include basePadding;
        grid-area: descriptionStory;

        .description {
            margin-top: 40px;
        }
    }

    .imgStory {
        @include basePadding;
        grid-area: imgStory;

        img {
            width: 100%;
            border-radius: $border-radius;
        }
    }

}