/* PROPIEDADES DE ANIMACIONES */

.animated {
    animation-name: fadeIn;
    animation-iteration-count: unset;
    animation-duration: 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}