@import "../utilities/variables";

/* -----  INICIO PROPIEDADES DEL MAIN ----- */

.mainBlog {
    display: grid;
    grid-template-areas: "presentationPage presentationPage"
        "lastPostDescription lastPostImage"
        "blog blog"
        "morePosts morePosts";
    grid-template-columns: 1fr 1fr;

    .lastPostDescription {
        @include paddingHeader;
        grid-area: lastPostDescription;
        background-color: nth($colores, 3);
    }

    .lastPostImage {
        @include basePadding;
        grid-area: lastPostImage;
        background-color: nth($colores, 3);

        img {
            width: 40rem;
            border-radius: $border-radius;
        }
    }

    .morePosts {
        grid-area: morePosts;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;

        .buttonMorePosts {
            margin: 1.2rem 20rem;
            display: flex;
            justify-content: center;
            border: 0.2rem solid nth($colores, 1);
            border-radius: 20rem;
            padding: 0.6rem;

            h4 {
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .mainBlog {
        display: grid;
        grid-template-areas: "presentationPage"
            "lastPostDescription"
            "lastPostImage"
            "blog"
            "morePosts";
        grid-template-columns: 1fr;

        /* BLOG */

        .lastPostDescription {
            padding: 4rem 3rem 0rem 3rem;
        }

        .lastPostImage {
            @include basePadding-m;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .morePosts {
            margin-bottom: 4rem;

            .buttonMorePosts {
                margin: 1.2rem 0rem;
                padding: 0.6rem;
            }
        }
    }
}