@import "../utilities/variables";

/* -----  INICIO PROPIEDADES DEL MAIN ----- */

.mainBlog {
    display: grid;
    grid-template-areas: "presentationPage presentationPage"
        "lastPostDescription lastPostImage"
        "blog blog"
        "morePosts morePosts";
    grid-template-columns: 1fr 1fr;

    .lastPostDescription {
        @include basePadding;
        grid-area: lastPostDescription;
        background-color: nth($colores, 3);
    }

    .lastPostImage {
        @include basePadding;
        grid-area: lastPostImage;
        background-color: nth($colores, 3);

        img {
            width: 100%;
            min-width: 20rem;
            border-radius: $border-radius;
        }
    }

    .morePosts {
        grid-area: morePosts;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;

        .btn {
            border: 2px solid nth($colores, 1);
            border-radius: $border-radius;
        }

        .btn-primary {
            background-color: nth($colores, 4);
            color: nth($colores, 1);

            &:hover {
                background-color: nth($colores, 1);
                color: nth($colores, 4);
            }
        }

        .buttonMorePosts {
            margin: 1.2rem 20rem;
            display: flex;
            justify-content: center;
            border: 0.2rem solid nth($colores, 1);
            border-radius: 20rem;
            padding: 0.6rem;

            h4 {
                font-weight: bold;
            }
        }
    }
}