@import "../utilities/variables";

/* -----  INICIO PROPIEDADES DEL MAIN ----- */

.mainIndex {
    display: grid;
    grid-template-areas: "presentationDescription presentationImage"
        "featureImage featureDescription"
        "featureAltDescription featureAltImage"
        "download download"
        "blog blog";
    grid-template-columns: 1fr 1fr;

    .presentationDescription {
        @include paddingHeader;
        grid-area: presentationDescription;

        .subtitle {
            margin-top: 2rem;
        }
    }

    .presentationImage {
        grid-area: presentationImage;
        background-color: nth($colores, 3);
        padding: 10rem 0rem;

        img {
            width: 20%;
            border-radius: 0.8rem;
            margin: 1rem;
            position: relative;
            right: 3rem;
            z-index: 0;
        }
    }

    .downloadSection {
        grid-area: download;
        @include basePadding;

        .downloadContainer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            background-color: map-get($map: $standard, $key: color-standard);
            border-radius: map-get($map: $standard, $key: radius-standard);
            background-image: map-get($map: $standard, $key: image-standard);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 0.2rem solid nth($colores, 2);

            .downloadApp {
                padding: 5rem;
                width: 60%;

                h3 {
                    color: nth($colores, 4);
                    line-height: 1;
                }

                .downloadButton {
                    margin-top: 2rem;

                    img {
                        &:hover {
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}