@import "../utilities/variables";

/* -----  INICIO PROPIEDADES DEL MAIN ----- */

.mainIndex {
    display: grid;
    grid-template-areas: "presentationDescription presentationImage"
        "featureImage featureDescription"
        "featureAltDescription featureAltImage"
        "download download"
        "blog blog";
    grid-template-columns: 1fr 1fr;

    .presentationDescription {
        @include paddingHeader;
        grid-area: presentationDescription;

        .subtitle {
            margin-top: 2rem;
        }
    }

    .presentationImage {
        grid-area: presentationImage;
        background-color: nth($colores, 3);
        padding: 10rem 0rem;

        img {
            width: 24%;
            border-radius: 0.8rem;
            margin: 1rem;
            position: relative;
            right: 3rem;
            z-index: 0;
        }
    }

    .downloadSection {
        grid-area: download;
        @include basePadding;

        .downloadContainer {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            background-color: map-get($map: $standard, $key: color-standard);
            border-radius: map-get($map: $standard, $key: radius-standard);
            background-image: map-get($map: $standard, $key: image-standard);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 0.2rem solid nth($colores, 2);

            .downloadApp {
                padding: 5rem;
                width: 60%;

                h3 {
                    color: nth($colores, 4);
                    line-height: 1;
                }

                .downloadButton {
                    margin-top: 2rem;

                    img {
                        &:hover {
                            transform: scale(1.02);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {

    /* GRID LAYOUT */
    .mainIndex {
        display: grid;
        grid-template-areas: "presentationDescription"
            "presentationImage"
            "featureDescription"
            "featureImage"
            "featureAltDescription"
            "featureAltImage"
            "download"
            "blog";
        grid-template-columns: 1fr;

        /* USADO EN PAGINA INICIO */

        .presentationDescription {
            @include paddingHeader-m;
            text-align: center;
        }

        .presentationImage {
            display: flex;
            padding: 0rem;
            justify-content: center;
            flex-wrap: wrap;

            img {
                margin: 0.8rem;
                bottom: 2rem;
                right: 0rem;
            }

            .img-row {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .downloadSection {
            @include basePadding-m;

            .downloadContainer {
                border-radius: 0.8rem;

                .downloadApp {
                    padding: 4rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        text-align: center;
                    }
                }
            }
        }
    }

}