@import "../utilities/variables";

/* -----  INICIO PROPIEDADES DEL MAIN ----- */

.mainIndex {
    display: grid;
    grid-template-areas: "presentationDescription presentationImage"
        "featureImage featureDescription"
        "featureAltDescription featureAltImage"
        "download download"
        "blog blog";
    grid-template-columns: 1fr 1fr;

    .presentationDescription {
        grid-area: presentationDescription;
        padding: 10rem 5rem;

        .subtitle {
            margin-top: 2rem;
        }
    }

    .presentationImage {
        grid-area: presentationImage;
        background-color: $color-claro;
        padding: 10rem 0rem;

        img {
            border-radius: 0.8rem;
            width: 24%;
            margin: 1rem;
            position: relative;
            right: 3rem;
            z-index: 0;
        }
    }

    .featureDescription {
        grid-area: featureDescription;
        padding: 10rem 5rem;
    }

    .featureImage {
        grid-area: featureImage;
        padding: 10rem 5rem;

        img {
            width: 26rem;
            border-radius: 1.2rem;
        }
    }

    .featureTwoDescription {
        grid-area: featureTwoDescription;
        padding: 10rem 5rem;
    }

    .featureTwoImage {
        grid-area: featureTwoImage;
        padding: 10rem 5rem;

        img {
            width: 26rem;
            border-radius: 1.2rem;
        }
    }

    .subtitleSection {
        margin-top: 2rem;
    }

    .featureAltDescription {
        grid-area: featureAltDescription;
        padding: 10rem 5rem;
        background-color: $color-claro;
    }

    .featureAltImage {
        grid-area: featureAltImage;
        display: flex;
        justify-content: flex-end;
        padding: 10rem 5rem;
        background-color: $color-claro;

        img {
            width: 26rem;
            border-radius: 1.2rem;
        }
    }

    .downloadSection {
        grid-area: download;
        padding: 5rem;

        .downloadContainer {
            display: flex;
            background-color: #A171D3;
            border-radius: 1.2rem;
            justify-content: space-between;
            align-items: flex-end;
            background-image: url('../../assets/images/comienza-tu-aventura.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            border: 0.2rem solid $color-principal;

            .downloadApp {
                padding: 5rem;
                width: 60%;

                h3 {
                    color: $color-blanco;
                    line-height: 1;
                }

                .downloadButton {
                    margin-top: 2rem;
                }
            }
        }
    }

    .blogSection {
        grid-area: blog;
        padding: 5rem;

        h3 {
            margin: 1rem 0rem;
        }

        h4 {
            font-weight: 700;
        }

        .posts {
            margin-top: 2rem;
            display: flex;
            justify-content: space-between;

            .post1,
            .post2 {
                width: 40%;

                img {
                    width: 100%;
                    border-radius: 1.2rem;
                }

                .titlePost {
                    margin: 1rem 0px;
                }
            }
        }
    }

}

@media only screen and (max-width: 600px) {

    /* GRID LAYOUT */
    .mainIndex {
        display: grid;
        grid-template-areas: "presentationDescription"
            "presentationImage"
            "featureDescription"
            "featureImage"
            "featureAltDescription"
            "featureAltImage"
            "download"
            "blog";
        grid-template-columns: 1fr;

        /* USADO EN PAGINA INICIO */

        .presentationDescription {
            padding: 8rem 3rem;
            text-align: center;
        }

        .presentationImage {
            display: flex;
            padding: 0rem;
            justify-content: center;
            flex-wrap: wrap;

            img {
                margin: 0.8rem;
                bottom: 2rem;
                right: 0rem;
            }

            .img-row {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .featureDescription {
            padding: 4rem 3rem;
        }

        .featureImage {
            align-self: center;
            padding: 4rem 3rem;

            img {
                width: 100%;
                border-radius: 0.8rem;
            }
        }

        .featureTwoDescription {
            padding: 4rem 3rem;
        }

        .featureTwoImage {
            align-self: center;
            padding: 4rem 3rem;

            img {
                width: 100%;
                border-radius: 0.8rem;
            }
        }

        .featureAltDescription {
            padding: 4rem 3rem;
        }

        .featureAltImage {
            align-self: center;
            padding: 4rem 3rem;

            img {
                width: 100%;
                border-radius: 0.8rem;
            }
        }

        .downloadSection {
            padding: 4rem 3rem;

            .downloadContainer {
                border-radius: 0.8rem;

                .downloadApp {
                    padding: 4rem;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h3 {
                        text-align: center;
                    }
                }
            }
        }

        .blogSection {
            padding: 4rem 3rem;

            .posts {
                flex-direction: column;

                .post1,
                .post2 {
                    width: 100%;
                    padding: 2rem 0rem;

                    img {
                        border-radius: 0.8rem;
                        min-width: 20rem;
                    }

                }

            }
        }
    }

}