@import "../utilities/variables";

.mainInstructions {
    display: grid;
    grid-template-areas: "presentationPage presentationPage"
        ". titleInstructions"
        "instructionsImage instructionsSteps"
        "titleInstructionsTwo ."
        "instructionsStepsTwo instructionsImageTwo"
        ". titleInstructionsThree"
        "instructionsImageThree instructionsStepsThree";
    grid-template-columns: 1fr 1fr;

    /* USADAS EN INSTRUCCIONES */

    .titleInstructions {
        @include basePadding;
        grid-area: titleInstructions;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h3 {
            margin-top: 1rem;
        }

        h4 {
            font-weight: bold;
        }
    }

    .titleInstructionsTwo {
        @include basePadding;
        grid-area: titleInstructionsTwo;
        display: flex;
        justify-content: flex-end;

        h3 {
            margin-top: 1rem;
        }

        h4 {
            font-weight: bold;
        }
    }

    .titleInstructionsThree {
        @include basePadding;
        grid-area: titleInstructionsThree;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h3 {
            margin-top: 1rem;
        }

        h4 {
            font-weight: bold;
        }
    }

    .instructionsSteps {
        grid-area: instructionsSteps;
        padding: 0rem 5rem;

        h4 {
            font-weight: bold;
        }

        ol {
            padding: 0rem;

            li {
                list-style: none;
                margin-bottom: 1.2rem;
            }
        }
    }

    .instructionsStepsTwo {
        grid-area: instructionsStepsTwo;
        padding: 0rem 5rem;

        ol {
            padding: 0rem;

            li {
                list-style: none;
                margin-bottom: 1.2rem;
            }
        }

        h4 {
            font-weight: bold;
        }
    }

    .instructionsStepsThree {
        grid-area: instructionsStepsThree;
        padding: 0rem 5rem;

        ol {
            padding: 0rem;

            li {
                list-style: none;
                margin-bottom: 1.2rem;
            }
        }

        h4 {
            font-weight: bold;
        }
    }

    .instructionsImage {
        grid-area: instructionsImage;
        padding: 0rem 0rem 4rem 5rem;

        img {
            width: 100%;
            border-radius: $border-radius;
        }
    }

    .instructionsImageTwo {
        grid-area: instructionsImageTwo;
        padding: 0rem 5rem 4rem 0rem;

        img {
            width: 100%;
            border-radius: $border-radius;
        }
    }

    .instructionsImageThree {
        grid-area: instructionsImageThree;
        padding: 0rem 0rem 4rem 5rem;

        img {
            width: 100%;
            border-radius: $border-radius;
        }
    }
}

@media only screen and (max-width: 600px) {

    .mainInstructions {
        display: grid;
        grid-template-areas: "presentationPage"
            "titleInstructions"
            "instructionsSteps"
            "instructionsImage"
            "titleInstructionsTwo"
            "instructionsStepsTwo"
            "instructionsImageTwo"
            "titleInstructionsThree"
            "instructionsStepsThree"
            "instructionsImageThree";
        grid-template-columns: 1fr;

        .titleInstructions {
            @include basePadding-m;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .titleInstructionsTwo {
            @include basePadding-m;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .titleInstructionsThree {
            @include basePadding-m;
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .instructionsImage {
            @include basePadding-m;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsImageTwo {
            @include basePadding-m;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsImageThree {
            @include basePadding-m;

            img {
                width: 100%;
                border-radius: $border-radius-m;
            }
        }

        .instructionsSteps {
            padding: 0rem 3rem;
        }

        .instructionsStepsTwo {
            padding: 0rem 3rem;
        }

        .instructionsStepsThree {
            padding: 0rem 3rem;
        }
    }
}