@import "../utilities/variables";

.mainApp {
    display: grid;
    grid-template-areas: "presentationPage presentationPage"
        "featureImage featureDescription"
        "featureAltDescription featureAltImage"
        "featureTwoImage featureTwoDescription"
        "moreFeatures moreFeatures"
        "bienaventurados bienaventurados";
    grid-template-columns: 1fr 1fr;

    /* USADAS EN NUESTRA APP */

    .downloadButton {
        margin-top: 2rem;

        img {
            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .othersSections {
        @include basePadding;
        grid-area: moreFeatures;
        background-color: nth($colores, 3);
        text-align: center;

        .features {
            display: flex;
            justify-content: space-around;
            padding: 4rem 0rem;

            .feature {
                width: 25%;

                img {
                    width: 80%;
                    border-radius: $border-radius;
                }

                .description {
                    margin-top: 2rem;
                }
            }
        }
    }

    .bienaventuradosSection {
        @include basePadding;
        grid-area: bienaventurados;
        display: flex;
        justify-content: center;
        text-align: center;

        .containerBienaventuradosSection {
            width: 40%;

            .quote {
                margin: 2rem;
            }

            .isoBienaventurados {
                width: 20%;
                margin-bottom: 4rem;
            }
        }
    }

}


/* -----  INICIO PROPIEDADES MEDIA QUERYS -----  */

@media only screen and (max-width: 600px) {
    .mainApp {
        display: grid;
        grid-template-areas: "presentationPage"
            "featureDescription"
            "featureImage"
            "featureAltDescription"
            "featureAltImage"
            "featureTwoDescription"
            "featureTwoImage"
            "moreFeatures"
            "bienaventurados";
        grid-template-columns: 1fr;

        /* NUESTRA APP */

        .othersSections {
            @include basePadding-m;
            text-align: center;

            .features {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding: 4rem 0rem;

                .feature {
                    width: 50%;
                    margin: 2rem 0rem;

                    img {
                        width: 25%;
                        min-width: 10rem;
                        border-radius: $border-radius-m;
                    }

                    .description {
                        margin: 2rem;
                    }
                }
            }
        }

        .bienaventuradosSection {
            @include basePadding-m;
            grid-area: bienaventurados;
            display: flex;
            justify-content: center;
            text-align: center;

            .containerBienaventuradosSection {
                width: 100%;

                .quote {
                    margin: 2rem;
                }

                .isoBienaventurados {
                    width: 20%;
                    margin-bottom: 4rem;
                }
            }
        }
    }
}