@import "../utilities/variables";

.mainApp {
    display: grid;
    grid-template-areas: "presentationPage presentationPage"
        "featureImage featureDescription"
        "featureAltDescription featureAltImage"
        "featureTwoImage featureTwoDescription"
        "moreFeatures moreFeatures"
        "bienaventurados bienaventurados";
    grid-template-columns: 1fr 1fr;

    /* USADAS EN NUESTRA APP */

    .downloadButton {
        margin-top: 2rem;

        img {
            &:hover {
                transform: scale(1.02);
            }
        }
    }

    .othersSections {
        @include basePadding;
        grid-area: moreFeatures;
        background-color: nth($colores, 3);
        text-align: center;

        .features {
            display: flex;
            justify-content: space-around;
            padding: 4rem 0rem;

            .feature {
                width: 25%;

                img {
                    width: 100%;
                    border-radius: $border-radius;
                }

                .description {
                    margin-top: 2rem;
                }
            }
        }
    }

    .bienaventuradosSection {
        @include basePadding;
        grid-area: bienaventurados;
        display: flex;
        justify-content: center;
        text-align: center;

        .containerBienaventuradosSection {
            width: 40%;

            .quote {
                margin: 2rem;
            }

            .isoBienaventurados {
                width: 20%;
                margin-bottom: 4rem;
            }
        }
    }

}