@font-face {
    font-family: Gotham-Black;
    src: url('../public/font/Gotham-Black.otf') format('opentype');
}
@font-face {
font-family: Gotham-Book;
src: url('../public/font/Gotham-Book.ttf') format('truetype');
}
@font-face {
font-family: Gotham-Medium;
src: url('../public/font/Gotham-Medium.ttf') format('truetype');
}