/* ----- PROPIEDADES GLOBALES  ----- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins';
}

/* ---------------------------------------- */

/* ----- INICIO PROPIEDADES DEL HEADER  ----- */

header h1 {
    color: #372256;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1;
}

header h2 {
    color: #372256;
    font-weight: 400;
    font-size: 1.6rem;
}

header .navBar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    padding: 10px 60px 10px 80px;
    align-items: center;
    
    z-index: 1;
}

header .navBar img {
    height: 50px;
}

header .navBar a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color:#372256;
}

header .navBar ul {
    display: flex;
    list-style: none;
}

header .navBar ul li{
    margin: 10px 20px;
}

/* USADO EN PAGINA INICIO */
header .presentation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .presentation .presentationLeft {
    padding: 200px 80px;
}

header .presentation .presentationLeft .subtitle {
    margin-top: 40px;
}

header .presentation .presentationRight{
    background-color: #F9F9FA;
    padding: 140px 20px 140px 0px;
}

header .presentation .presentationRight img {
    border-radius: 12px;
    height: 160px;
    margin: 14px;
    position: relative;
    right: 40px;
    z-index: 0;
}

/* USADO EN OTRAS PAGINAS */
header .presentationPage {
    padding: 200px 400px;
    align-items: center;
    text-align: center;

}

header .presentationPage .subtitle {
    margin: 40px 0px;
    text-align: center;
}

/* ---------------------------------------- */

/* -----  INICIO PROPIEDADES DEL MAIN ----- */

main h3 {
    color: #372256;
    margin-top: 40px;
    font-weight: 700;
    font-size: 2.6rem;
    line-height: 1;
}

main h4 {
    color: #372256;
    font-weight: 400;
    font-size: 1.4rem;
}

/* USADAS EN ACERCA DE */
main .aboutSE {
    background-color: #F9F9FA;
    display: flex;
    justify-content: space-around;
    padding: 140px 60px;
}

main .aboutSE .rightSide  {
    width: 50%;
}

main .aboutSE .rightSide .tagline {
    margin: 10px 0px 40px 0px;
}

main .aboutSE .leftSide img {
    height: 260px;
}

main .ourStory {
    display: flex;
}

main .ourStory .leftSide {
    padding: 140px 60px;
}

main .ourStory .leftSide .description {
    margin-top: 40px;
}

main .ourStory .rightSide {
    padding: 140px 60px;
}

main .ourStory .rightSide img {
    width: 600px;
    border-radius: 20px;
}

/* USADAS EN INSTRUCCIONES */
main .instructions {
    padding: 60px;
    justify-content: center;
}

main .titleInstructions {
    display: flex;
    justify-content: flex-end;
    margin: 0px 60px 60px 60px;
}

main .containerTitleInstructions {
    width: 45%;
}

main .containerTitleInstructions h3 {
    margin-top: 10px;
}

main .containerTitleInstructions h4 {
    font-weight: 700;
}

main .instructionsAlt {
    background-color: #F9F9FA;
    padding: 60px;
}

main .titleInstructionsAlt {
    display: flex;
    justify-content: flex-start;
    margin: 0px 60px 60px 60px;
}

main .stepsInstructions {
    display: flex;
}

main .stepsInstructions h4 {
    font-weight: 700;
}

main .stepsInstructions .leftSide {
    width: 50%;
    padding: 0px 60px;
}

main .stepsInstructions .leftSide img {
    height: 500px;
    border-radius: 20px;
}

main .stepsInstructions .rightSide {
    width: 50%;
    padding: 0px 60px;
}

main .stepsInstructions .rightSide ol li {
    list-style: none;
    margin-bottom: 20px;
}

/* USADAS EN BLOG */
main .lastPost {
    display: flex;
    background-color: #F9F9FA;
}

main .lastPost .leftSide {
    padding: 140px 60px;
}

main .lastPost .rightSide {
    padding: 140px 60px;
}

main .lastPost .rightSide img {
    width: 600px;
    border-radius: 20px;
}

main .blogSection {
    padding: 80px 80px 140px 80px;
}

main .blogSection h4 {
    font-weight: 700;
}

main .blogSection h3 {
    margin: 10px 0px;
}

main .morePosts {
    display: flex;
    justify-content: center;
    margin: 0px 0px 40px 0px;
}

main .morePosts h4 {
    font-weight: 700;
}

main .buttonMorePosts {
    margin: 20px 200px;
    width: 20%;
    display: flex;
    justify-content: center;
    border: 4px solid #372256;
    border-radius: 100px;
    padding: 10px;
}

/* USADAS EN INICIO */
main .featuresSection {
    display: flex;
}

main .featuresSection .rightSide {
    width: 50%;
    padding: 140px 60px;
}

main .featuresSection .leftSide {
    width: 50%;
    padding: 140px 60px;
}

main .featuresSection .leftSide img {
    height: 500px;
    border-radius: 20px;
}

main .subtitleSection{
    margin-top: 40px;
}

main .featuresSectionAlt {
    display: flex;
    background-color: #F9F9FA;
}

main .featuresSectionAlt .leftSide {
    width: 50%;
    padding: 140px 60px;
}

main .featuresSectionAlt .rightSide {
    width: 50%;
    padding: 140px 60px;
}

main .featuresSectionAlt .rightSide img {
    height: 500px;
    border-radius: 20px;
}

main .downloadContainer {
    display: flex;
    background-color: #A171D3;
    margin: 80px;
    border-radius: 16px;
    justify-content: space-between;
    align-items: flex-end;
    background-image: url('../../assets/images/comienza-tu-aventura.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4px solid #372256;
}

main .downloadApp {
    padding: 60px;
    width: 60%;
}

main .downloadApp h3 {
    color: #FFFFFF;
    line-height: 1;
}

main .downloadButton {
    margin-top: 40px;
}

main .posts {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

main .post1{
    width: 40%;
}

main .titlePost {
    margin: 20px 0px;
}

main .post2{
    width: 40%;
}

main .posts img {
    height: 320px;
    border-radius: 16px;
}

/* USADAS EN NUESTRA APP */
main .othersSections {
    background-color: #F9F9FA;
    padding: 60px;
    text-align: center;
}

main .othersSections .features {
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

main .feature {
    width: 25%;
}

main .feature .description {
    margin-top: 20px ;
}

main .feature img {
    height: 200px;
    border-radius: 16px ;
}

main .bienaventuradosSection {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 140px;
}

main .containerBienaventuradosSection {
    width: 40%;
}

main .quote {
    margin: 40px 0px;
}

main .isoBienaventurados {
    height: 160px;
}

/* ---------------------------------------- */

/* -----  INICIO PROPIEDADES FOOTER -----  */

footer {
    background-color: #372256;
    padding: 80px 60px 40px 60px;
}

footer h5 {
    font-size: 0.8rem;
    color: #FFFFFF;
    font-weight:700;
}

footer h6 {
    font-size: 0.8rem;
    font-weight: normal;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: normal;
    color:#FFFFFF;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin: 12px 0px;
    color: #FFFFFF;
}

.footerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerLogo img {
    height: 200px;
}

.footerLinks {
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    
}

.footerPages {
    margin: 0px 40px;
}

.footerSocial {
    padding-top: 16px;
    margin: 0px 40px;
}

.footerProjects {
    padding-top: 16px;
    margin: 0px 40px;
}

.footerDownload {
    padding-top: 16px;
}

.footerDownload img{
    padding-top: 20px;
}

.footerLegal {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    align-items: center;
}

.footerLegal ul {
    display: flex;
}

.footerLegal ul li {
    font-size: 0.8rem;
    margin: 0px 0px 0px 20px;
}

/* ---------------------------------------- */